$layout-breakpoint-small: 960px;

.products {
  margin: 0 0 1em;
  padding: 0;
  list-style: none outside;
  clear: both;

  .product {
    width: 23.7%;
    display: inline-block !important;
    position: relative;
    float: none !important;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
    margin-right: 1.2% !important;
    margin-bottom: 20px;
    -webkit-transition: transform 200ms;
    -o-transition: transform 200ms;
    transition: transform 200ms;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);

    .product-wrap {
      .product-content {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 350px;
        border-bottom: 1px solid #eeeeee;
        align-items: center;
        justify-content: center;
        img {
          padding: 5px 0px;
          width: 100%;
          height: auto;
          display: block;
          margin: 0 0 1em;
        }
      }
      .product_text {
        padding: 5px 10px;
        h3 {
          font-size: 15px;
          font-size: 0.9375rem;
          padding: 0;
          color: #4d4d4d;
          margin-bottom: 4px;
        }
        .product-vendor {
          text-transform: uppercase;
          color: #cccccc;
          font-size: 11px;
          font-size: 0.6875rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .price {
          font-size: 18px;
          font-size: 1.125rem;
          position: relative;
          color: #0a9878;
          margin-bottom: 0;
        }
      }
    }
  }
}

.single-product {
  .product-category {
    text-transform: uppercase;
    color: #cccccc;
    font-size: 11px;
    font-size: 0.6875rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .product-title {
    font-weight: bold;
    font-size: 41px;
    margin-bottom: 0.73170732em;
  }
  .price {
    font-size: 32px;
    font-size: 2rem;
    font-weight: normal;
    color: #0a9878;
  }
  .product-variant {
    padding: 10px 0;
  }
  .product-content {
    padding: 10px 0;
    p {
      margin-bottom: 10px;
    }
    * {
      font-size: 13px;
      line-height: 1.42857143;
      color: #383838;
    }
  }
  .goback {
    float: right;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 31px;
  }
}

@media (max-width: $layout-breakpoint-small) {
  .product {
    width: 98% !important;
  }
}
